/* body{
    background-color: beige;

}
form{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 6%;
    background-color: black;
    justify-content: space-around;
}
button{
    justify-content: center;
    margin: auto;
    height: 5vh;
}
input{
    width: 800px;
    padding: 20%;
    justify-content: center;
    
}
h1{
    margin: auto;
    margin-bottom: 30px;
} */


*{
    margin: auto;
}
.container{
    
}