body{
    background-color: beige;

}
form{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 6%;
    color: aliceblue;
    background-color: black;
    justify-content: space-around;
}
button{
    justify-content: center;
    margin: auto;
    align-items:center ;
}
input{
    width: 800px;
    padding: 20%;
    justify-content: center;
    
}
h1{
    justify-content: center;
    text-align: center;
    margin: auto;
}



